<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.myoaproject2.mapper.ExcelMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.myoaproject2.vo.ExcelVo">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="username" jdbcType="VARCHAR" property="username" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="flag" jdbcType="INTEGER" property="flag" />
        <result column="departmentname" property="departmentName"/>
    </resultMap>

    <select id="selectExcel" resultMap="BaseResultMap">
        SELECT u.id,u.username,u.password,d.name departmentname,u.flag
        FROM t_department d
        LEFT JOIN t_userdepartment ud ON d.id=ud.did
        LEFT JOIN t_user u ON u.id=ud.uid
    </select>

</mapper>